.header {
	height: 138px;
	position: relative;
	z-index: 10;

	.container {
		position: relative;
		height: 100%;
	}

	@media (max-width: $breakpoint-mobile) {
		display: none;
	}

	ul {
		display: flex;
		justify-content: flex-end;
		margin: 0;
	    position: absolute;
	    bottom: 15px;
	    right: 0;

		li {
			display: flex;

			a {
			    color: #6b6d70;
			    text-transform: uppercase;
			    font-size: 9px;
			    font-family: 'Montserrat';
			}

			i {
				color: #ffbcbc;
				font-size: 24px;
				margin-right: 10px;
			}

			&:last-child {
				margin-left: 20px;
			}
		}
	}

	.logo {
		position: absolute;
		top: 25px;
	}

	.container {
		align-items: right;
	}
}

.header-sub {
	background: $col-main-red;
	height: 60px;
	position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

	&:before {
	    content: "";
	    position: absolute;
	    display: block;
	    top: 0;
	    bottom: 0;
	    width: 210px;
	    background-color: #fff;
	    left: -25px;
	    margin-left: 0;
	    transform: skew(-25deg);
	}

	&-container {
		@media (max-width: $breakpoint-mobile) {
			display: none;
		}

		position: relative;

		&:after {
			content: "";
		    display: block;
		    position: absolute;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    background: $col-main-red;
		    width: 50%;
		}
	}

	.social-links {
		display: flex;
		z-index: 10;
		position: relative;
		margin-bottom: 0;
		list-style-type: none;

		a {
			padding: 0 15px;

			i {
				color: #fff;
			}
		}
	}
}

.main-nav {
	display: flex;
	justify-content: flex-end;
	z-index: 10;
	position: relative;
	height: 60px;

	> div {
		padding: 0 32px;
		line-height: 60px;

		a {
		    color: #fff;
	        text-transform: uppercase;
	        font-weight: 700;
	        font-size: 12px;
	        font-family: 'Montserrat', sans-serif;

	        &:hover {
	        	text-decoration: none;
	        	color: #ffbcbc;
	        }
		}

		&:hover {
			nav {
			    transform: rotateX(0deg);
			    opacity: 1;
			    visibility: visible;
			}
		}

		&.sub {
			> a {
				&:after {
				    content: "";
				    display: inline-block;
				    margin-left: 9px;
				    top: -1px;
				    position: relative;
				    font-size: 10px;
				    line-height: 1.2em;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    font-family: "Font Awesome 5 Free";
				    font-weight: 700;
				    color: #fff;
				    font-style: normal;
				}
			}
		}
	}

	nav {
		transform-origin: 0% 0%;
		transition: transform 0.3s, opacity 0.3s;
	    transform-style: preserve-3d;
	    transform: rotateX(-75deg);
	    visibility: hidden;
	    min-width: 240px;
	    border: 1px solid #fff;
        position: absolute;
        top: 60px;

	    a {
	    	display: block;
		    font-family: Montserrat;
		    text-transform: uppercase;
		    font-weight: 700;
		    font-style: normal;
		    font-size: 11px;
		    color: #ffffff;
		    border-bottom: 1px solid #ffd3d3;
		    padding: 16px 30px;
		    line-height: 11px;
		    background: $col-main-red;

		    &:hover {
		    	color: #ffd3d3;
		    	text-decoration: none;
		    }
	    }
	}
}

.header-mobile {
	height: 80px;
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	display: none;

	@media (max-width: $breakpoint-mobile) {
		display: block;
	}

	.logo {
		text-align: center;
		position: absolute;
		z-index: 3;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 40px;

		img {
			width: 97px;
		}
	}

	.burger-menu {
		z-index: 102;
		transition: all 0.4s ease-in-out;
		display: block;
		position: absolute;
		top: 30px;
		left: 24px;
		cursor: pointer;
		width: 26px;
		height: 19px;
	}

	.burger-menu-icon {

		&,
		&::before,
		&::after {
			content: "";
			cursor: pointer;
			height: 3px;
			width: 100%;
			background-color: #000;
			position: absolute;
			top: 0;
			display: block;
			border-radius: 1px;
		}

		&::before {
			top: 8px;
		}

		&::after {
			top: 16px;
		}
	}
}

.mobile-menu {
    width: 270px;
    inset-inline-start: 0;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    z-index: 103;
    overflow: auto;
    transition: all 0.4s ease-in-out;
    background-color: #fff;

    &.active {
	    transform: translateX(0);
	    transition: all 0.4s ease-in-out;
    }

	.logo {
		margin: 0 auto;
		width: 97px;
		padding-top: 10px;

		img {
			width: 97px;
		}
	}

	.side-nav {
		border-top: 1px solid #292c31;
		margin-top: 18px;

		div {
			width: 100%;
		}

		a {
		    font-size: 11px;
		    color: #000000;
		    border-bottom: 1px solid #292c31;
		    padding: 12px 30px;		
		    width: 100%;
		    display: block;
		    text-transform: uppercase;
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 700;
		}
	}

	.links-box {
		padding: 0 15px;
		padding-top: 35px;

		li {
			display: flex;
			margin-bottom: 30px;

			span {
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}

			a {
			    text-transform: uppercase;
			    font-size: 9px;
			    font-family: 'Montserrat';
			    line-height: 1.3;
			    align-items: center;
			    justify-content: center;
			    display: flex;
			    font-weight: 700;
			    color: #6b6d70;
			}

			i {
				color: #ffbcbc;
				font-size: 24px;
				margin-right: 10px;
			}

			.fa-users {
				font-size: 19px;
			}
		}
	}
}

.site-overlay {
	left: 0;
	top: 0;
	z-index: 102;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: transparent;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.4s linear;

	&.active {
	    visibility: visible;
	    opacity: 1;
	    background-color: rgba(0, 0, 0, 0.8);
	}
}

.language-switcher {
	display: flex;
	position: absolute;
	right: 0;
	top: 15px;

	img {
		width: 30px;
		margin-right: 4px;
	}

	a {
		color: #31404b;
		display: flex;
		align-items: center;

		&:hover {
			text-decoration: none;
		}

		&:last-child {
			margin-left: 10px;
		}

		&.active {
			font-weight: 700;
		}

		span {
			display: block;
			width: 20px;
		}
	}
}