// 主样式
@import "./bootstrap.scss";

$col-main-red: #bf1b2b;
$col-dark: #1e2024;
$col-darker: #16171a;

body {
  font-family: 'Montserrat';
}

@import "./common.scss";
@import "./media.scss";

@import "./header.scss";
@import "./page.scss";
@import "./typography.scss";
