// 主样式
@import "./bootstrap.scss";

$col-main-red: #bf1b2b;
$col-dark: #1e2024;
$col-darker: #16171a;

$breakpoint-mobile: 1000px;

body {
  font-family: 'Montserrat';

  @media (max-width: $breakpoint-mobile) {
    padding-top: 80px;
  }  
}

img {
  max-width: 100%;
}

@import "./common.scss";
@import "./media.scss";

@import "./header.scss";
@import "./page.scss";
@import "./footer.scss";
@import "./typography.scss";
