body {
    color: #9a9da2;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: #31404b;
    margin: 0 0 0.75em 0;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

h4 {
    font-size: 22px;
    text-transform: none;
    font-style: normal;
    font-weight: 700;
}