{{ $data := index site.Data.home  site.Language.Lang }}

{{ $settings := index site.Data.settings site.Language.Lang }}

<div class="footer">
    <div class="container">
      <div class="row">
        {{ range $settings.footer_menu }}
        <div class="col-sm-6 col-lg-3">
          <h4>{{ .title }}</h4>
          <ul>
            {{ range .items }}
            <li><a {{ if .new_window }}target="_blank" rel="noopener"{{ end }} href="{{ .url }}">{{ .title }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}

        <div class="col-sm-6 col-lg-3">
          <h4>Sponsors</h4>

          <ul>
            {{ range where site.AllPages "Type" "sponsors" }}
              {{ if not (eq .Title "Sponsors") }}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
                         
        <div class="col-sm-6 col-lg-3">
          <a href="{{ .Site.BaseURL | relLangURL }}" class="logo">
              <img src="{{ $settings.footer_logo }}" alt="Logo">
          </a>
        </div>
      </div>
    </div>


    <div class="footer-bottom">
      <div class="container">
        <a href="https://polishopen.dog">PolishOpen</a> © Copyright {{ now.Year }} | Website owner <a href="https://cool-dog.eu">Cool-Dog.eu</a>
      </div>
    </div>
</div>


<script>
  // Fixes Netlify Identity email confirmation
  // Ref https://answers.netlify.com/t/common-issue-netlify-cms-git-gateway-email-not-confirmed/10690/26
  if (window.location.hash.includes('_token=')) {
    window.location.assign('/admin/' + window.location.hash);
  }
  </script>

<!-- Set Netlify CMS language -->
<script type="text/javascript">
  const overlay = document.querySelector('.site-overlay');
  const mobileMenu = document.querySelector('.mobile-menu');
  const burgerMenu = document.querySelector('.burger-menu');

  if(overlay && mobileMenu && burgerMenu) {
    overlay.addEventListener('click', () => {
      overlay.classList.toggle('active');
      mobileMenu.classList.toggle('active');
    })

    burgerMenu.addEventListener('click', () => {
      mobileMenu.classList.toggle('active');
      overlay.classList.toggle('active');
    })
  }

</script>
