{{ $data := index site.Data.home  site.Language.Lang }}

{{ $settings := index site.Data.settings site.Language.Lang }}

<div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-lg-3">
          <h4>Social media</h4>

          <ul>
            <li><a target="_blank" rel="noopener" href="https://www.facebook.com/Polish-OPEN-103112215452340">FB Fanpage</a></li>
            <li><a target="_blank" rel="noopener" href="https://www.facebook.com/groups/546826853053199">FB Group</a></li>
            <li><a href="https://www.instagram.com/polishopen_agility/">Instagram</a></li>
          </ul>
        </div>
                
        <div class="col-sm-6 col-lg-3">
          <h4>Tournament</h4>

          <ul>
            <li><a href="https://polishopen.dog/">Venue</a></li>
            <li><a href="https://polishopen.dog/rules/">Rules</a></li>
            <li><a href="https://polishopen.dog/judges/">Judges</a></li>
            <li><a href="https://polishopen.dog/accomodation/">Accomodation / Camping</a></li>
            <li><a href="https://polishopen.dog/info/">INFO</a></li>
          </ul>
        </div>

        <div class="col-sm-6 col-lg-3">
          <h4>Sponsors</h4>

          <ul>
            <li><a href="https://polishopen.dog/zayma-2/">Zayma</a></li>
            <li><a href="https://polishopen.dog/retoy/">reToy</a></li>
            <li><a href="https://polishopen.dog/pik-pik-pl/">pik-pik.pl</a></li>
            <li><a href="https://polishopen.dog/dream-agility-team/">Dream Agility team</a></li>
            <li><a href="https://polishopen.dog/game-dog-2/">Game dog</a></li>
            <li><a href="https://polishopen.dog/pokusa-2/">Pokusa</a></li>
            <li><a href="https://polishopen.dog/ostolka/">Ostolka</a></li>
            <li><a href="https://polishopen.dog/asdogs/">ASDOGS</a></li>
            <li><a href="https://polishopen.dog/laborioso/">Laborioso</a></li>
            <li><a href="https://polishopen.dog/weehee/">Weehee</a></li>
            <li><a href="https://polishopen.dog/dolina_noteci/">Dolina Noteci</a></li>
            <li><a href="https://polishopen.dog/m_handmade/">M handmade</a></li>
            <li><a href="https://polishopen.dog/oki_doggy/">oki-doggy</a></li>
          </ul>
        </div>
                         
        <div class="col-sm-6 col-lg-3">
          <a href="{{ .Site.BaseURL | relLangURL }}" class="logo">
              <img src="{{ $settings.footer_logo }}" alt="Logo">
          </a>
        </div>
      </div>
    </div>


    <div class="footer-bottom">
      <div class="container">
        <a href="https://polishopen.dog">PolishOpen</a> © Copyright 2022 | Website owner <a href="https://cool-dog.eu">Cool-Dog.eu</a>
      </div>
    </div>
</div>


<script>
  // Fixes Netlify Identity email confirmation
  // Ref https://answers.netlify.com/t/common-issue-netlify-cms-git-gateway-email-not-confirmed/10690/26
  if (window.location.hash.includes('_token=')) {
    window.location.assign('/admin/' + window.location.hash);
  }
  </script>

<!-- Set Netlify CMS language -->
<script type="text/javascript">
  const overlay = document.querySelector('.site-overlay');
  const mobileMenu = document.querySelector('.mobile-menu');
  const burgerMenu = document.querySelector('.burger-menu');

  if(overlay && mobileMenu && burgerMenu) {
    overlay.addEventListener('click', () => {
      overlay.classList.toggle('active');
      mobileMenu.classList.toggle('active');
    })

    burgerMenu.addEventListener('click', () => {
      mobileMenu.classList.toggle('active');
      overlay.classList.toggle('active');
    })
  }

</script>
