{{ $data := index site.Data.header site.Language.Lang }}
{{ $glossary := index site.Data.glossary site.Language.Lang }}

{{ $scenes := index (index site.Data.scenes site.Language.Lang) "scenes"}}
{{ $existScenes :=  site.Taxonomies.scenes }}
{{ $sMapping := dict "" ""}}
{{ range $scenes }}
{{ $sMapping = merge $sMapping (dict .cSlug .)}}
{{ end}}


{{ $theme := index (index site.Data.products site.Language.Lang) "theme"}}
{{ $existtheme :=  site.Taxonomies.theme }}
{{ $cMapping := dict "" ""}}
{{ range $theme }}
    {{ $cMapping = merge $cMapping (dict .cSlug .)}}
{{ end}}


{{ $settings := index site.Data.settings site.Language.Lang }}

    <div class="header">
        <div class="container">
            <a href="{{ .Site.BaseURL | relLangURL }}" class="logo">
                <img src="{{ $settings.logo }}" alt="Logo" width="{{ $settings.logo_width }}">
            </a>

            <ul class="links-box">
                <li>
                    <span><i class="fas fa-envelope"></i></span>
                    <a href="mailto:{{ $settings.email }}">{{ $settings.email }}</a>
                </li>
            
                <li>
                    <span><i class="fas fa-users"></i></span>
                    <a href="{{ $settings.fbgroup }}">{{ $settings.fbgroup_title }}</a>
                </li>   
            </ul>

            <div class="language-switcher">
                {{ if eq .Site.Language.Lang "pl" }}
                <span class="active"><img src="/img/pl.svg"/> <span>PL</span></span>
                {{ else }}
                <a href="/{{ if .Params.slug_lng }}{{ .Params.slug_lng }}{{ end }}"><img src="/img/pl.svg"/> <span>PL</span></a>
                {{ end }}

                {{ if eq .Site.Language.Lang "en" }}
                <span class="active"><img src="/img/gb.svg"/> <span>EN</span></span>
                {{ else }}
                <a href="/{{ if .Params.slug_lng }}en/{{ .Params.slug_lng }}{{ else }}en{{ end }}"><img src="/img/gb.svg"/> <span>EN</span></a>
                {{ end }}
            </div>

        </div>
    </div>

    <div class="header-sub-container">
        <div class="container">
            <div class="header-sub">
                <nav class="main-nav">
                    {{ range $settings.menu }}
                    <div {{ if .submenu }}class="sub"{{ end }}>
                        <a href="{{ .url }}" {{ if .newwindow }}target="_blank"{{end}}>{{ .title }}</a>
                        {{ if .submenu }}
                        <nav>
                            {{ range .submenu }}
                            <a href="{{ .url }}" {{ if .newwindow }}target="_blank"{{end}}>{{ .title }}</a>
                            {{ end }}
                        </nav>
                        {{ end }}
                    </div>
                    {{ end }}
                </nav>

                <ul class="social-links">
                    {{ range $settings.socials }}
                    {{ $env := eq .icon "fa-envelope" }}
                    <li>
                        <a href="{{ .url }}" target="_blank" title="{{ .title }}">
                            <i class="{{ if $env }}far{{ else }}fab{{ end }} {{ .icon }}"></i>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <div class="header-mobile">
        <div class="logo">
            <a href="{{ .Site.BaseURL | relLangURL }}">
                <img src="{{ $settings.logo }}">
            </a>
        </div>

        <a class="burger-menu" href="#"><span class="burger-menu-icon"></span></a>

        <div class="language-switcher">
            {{ if eq .Site.Language.Lang "en" }}
            <a {{ if eq .Site.Language.Lang "pl" }}class="active"{{ end }} href="/{{ if .Params.slug_lng }}{{ .Params.slug_lng }}{{ end }}"><img src="/img/pl.svg"/> <span>PL</span></a>
            {{ end }}

            {{ if eq .Site.Language.Lang "pl" }}
            <a {{ if eq .Site.Language.Lang "en" }}class="active"{{ end }} href="/{{ if .Params.slug_lng }}en/{{ .Params.slug_lng }}{{ else }}en{{ end }}"><img src="/img/gb.svg"/> <span>EN</span></a>
            {{ end }}
        </div>
    </div>

    <div class="site-overlay"></div>

    <div class="mobile-menu">
        <div class="logo">
            <a href="{{ .Site.BaseURL | relLangURL }}">
                <img src="{{ $settings.logo }}">
            </a>
        </div>

        <nav class="side-nav">
            {{ range $settings.menu }}
            <div {{ if .submenu }}class="sub"{{ end }}>
                <a href="{{ .url }}">{{ .title }}</a>
                {{ if .submenu }}
                <nav>
                    {{ range .submenu }}
                    <a href="{{ .url }}">{{ .title }}</a>
                    {{ end }}
                </nav>
                {{ end }}
            </div>
            {{ end }}
        </nav>

        <ul class="links-box">
            <li>
                <span><i class="fas fa-envelope"></i></span>
                <a href="mailto:{{ $settings.email }}">{{ $settings.email }}</a>
            </li>
        
            <li>
                <span><i class="fas fa-users"></i></span>
                <a href="{{ $settings.fbgroup }}">{{ $settings.fbgroup_title }}</a>
            </li>   
        </ul>
    </div>