{{ $data := index site.Data site.Language.Lang}}
{{ $data := index site.Data.home  site.Language.Lang }}

{{ $ := index site.Data.header site.Language.Lang }}
{{ $glossary := index site.Data.glossary site.Language.Lang }}

{{ if $data.image }}
<div class="page-background" style="background-image: url({{ $data.image }})"></div>
{{ end }}

<div class="container">
    <div class="page-content">
        <div class="card">
            <div class="card__header">
                <h4>{{ $data.title }}</h4>
            </div>
            <div class="card__content">{{ $data.body | markdownify }}</div>
        </div>
    </div>
</div>